/data/data/cache/hourly/
/data/data/weatherraw.pkl
data/data/weathersmallraw.pkl
/data_cleaning/cleanweathersmall.pkl
data/cleanweathersmall.pkl
/data_cleaning/cleanweathersmallwithclusters.pkl
/data_cleaning/clusters_epseps_2.0_sample_11.pkl
/data/data/aa_historical.pkl
/data_cleaning/cleanweather.pkl
data/data/cleanweathersmall.pkl
